
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./variables";

@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
};
// @function fsize($fname){
//     @return map-get($font-sizes, $fname);
// };
@mixin mobile {
    @media (max-width: 1000px){
        @content
    }
};
@mixin center { display: flex;
justify-content: center;
align-items: center;
}
@mixin before-after{
    content: '';
    display: inline-block;
    background-color: $primary-color;
    transition: 0.3s;
    width: 0px;
    height: 0px;
}
.hover-class{
    cursor: pointer;
    transition: 0.3s;
    // text-shadow: 1px 1px 3px $secondary-color;
}
.active{
    color: $primary-color !important;
}
.active::before{
    @include before-after;
    width: 4px !important;
    height: 100% !important;
}
body{
    text-rendering: optimizeSpeed;
    margin: 0px;
    display: grid;
    grid-template-columns: 500px 1fr 0px; //26.04%
    gap: 24px;
    // color: $text-color;
    @include mobile{
        //Used for media queries B)
    }
    font-family: Exo, sans-serif;
    background-color: $white-color;
}
#nav-bar{
    overflow: hidden;
    top: 0px;
    position: sticky;
    background-color: $code-color;
    height: 100vh;
    display: grid;
    grid-template-rows: 72px 40px minmax(96px, auto) 1fr;
    row-gap: 24px;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    header{
        @include desk-h4;
        @include center;
        color: $primary-color;
        img{
            height: 64px;
        }
    }
    .nav-link:hover{
        color: $primary-color;
        transition: 0.3s;
        cursor: pointer;
    }
    #nav-links{
        @include desk-h5;
        display: grid;
        padding: 0px 16px 0px 0px;
        grid-template-columns: 164px 154px 164px;
        color: $tertiary-color;
        .nav-link{
            @include center;
            gap: 8px;
            img{
                @include center;
                height: 32px;
            }
            #nav-link-small-img{
                height: 40px;
            }
            div{
                display: flex;
                flex-direction: row;
                .active-mark{
                    color: $primary-color;
                }
            }
        }
        .nav-link::before{
            @include before-after;
            margin-right: -5px;
            height: 32px;
        }
        .nav-link:hover::before{
            width: 4px;
            background-color: $primary-color;
        }
        .active::before{
            width: 4px;
            height: 32px;
            margin-right: -8px;
        }
    }
    .path-container{
        background-color: $secondary-color;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        #path{
            @include desk-h6;
            color: $code-color;
            position: relative;
            top: 8px;
        }
        @mixin search-bar{
            width: 404px;
            border-style: solid;
            border-color: $tertiary-color;
            border-width: 4px;
            padding: 0px 48px 0px 8px;
            @include code-text;
            margin-left: -4px;
            font-size: 15px;
        }
        #searchbar{
            border-radius: 7px 7px 0px 0px;
            height: 32px;
            color: $tertiary-color;
            background-color: $code-color;
            position: relative;
            top: 16px;
            @include search-bar;
        }
        #searchbar:focus{
            outline: none;
            box-shadow: -2px -2px 0px $primary-color, 2px -2px 0px $primary-color, 2px 2px 0px $primary-color, -2px 2px 0px $primary-color;
            font-size: 16px;
        }
        #search-img{
            display: inline-block;
            height: 32px;
            width: 32px;
            position: absolute;
            top: 52px;
            left: 436px;
            background-image: url("../../icons/search.svg");
            cursor: pointer;
        }
        input:focus ~ #search-img{
            opacity: 0.4;
        }
        #searched{
            display: none;
            flex-direction: column;
            color: $primary-color;
            margin-top: 16px;
            margin-bottom: 16px;
            @include search-bar;
            border-top: 0px;
            border-style: solid;
            background-color: $code-color;
            border-top-color: $tertiary-color;
            box-shadow: -2px -2px 0px $primary-color, 2px -2px 0px $primary-color, -2px 2px 0px $primary-color, 2px 2px 0px $primary-color;
            a{
                text-decoration: none;
                @include code-text;
                color: $font80;
            }
        }
    }
    .links-container{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        column-gap: 12px;
        padding: 0px 16px 0px 16px;
        a{
            text-decoration: none;
            color: $tertiary-color;
            display: flex;
            align-items: center;
        }
        @mixin container{display: flex;
            flex-direction: column;
            @include desk-h6;
            row-gap: 16px;}
        .nav-link-container{
            @include container;
            .nav-link::before{@include before-after;
            height: 100%;
            position: relative;
            left: -3px;}
            .nav-link:hover::before{
                width: 3px;
            }
            .nav-link{
                height: auto;
                -ms-word-break: break-all;
                word-break: break-word;
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
        }
        
    }
}
#main-doc{
    overflow: hidden;
    margin-top: 16px;
    display: grid;
    grid-template-rows: auto;
    gap: 24px;
    .main-section{
        color: $font100;
        letter-spacing: 1px;
        margin-right: 64px;
        @include regular-text;
        header{
            @include desk-h3; 
            color: $tertiary-color;
        }
        code{
            @include code-text;
            display: inline-block;
            background-color: $code-color;
            padding:16px 24px 16px 24px;
            overflow: scroll;
            .tag{
                position: relative;
                left: 24px;
                word-wrap:normal;
                padding-right: 24px;
            }
            .var{color: $tertiary-color}
            .var-dec{color: $primary-color;
            font-weight: 600;}
            .method{color:deeppink}
            .string{color: rgb(207, 127, 22);}
            .comment{color: green}
            .forif{color:darkmagenta;
            font-weight: 600}
        }
        .main-section-ul{
            padding-left: 24px;
            p{
                @include desk-h5;
                color: $tertiary-color;
                margin: 16px 0px 16px -16px;
            }
            .pros{
                color: $primary-color;
            }
            .cons{
                color: $secondary-color;
                list-style-type: square;
            }
        }
    }
}
