@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hover-class {
  cursor: pointer;
  transition: 0.3s;
}

.active {
  color: #14AFF7 !important;
}

.active::before {
  content: "";
  display: inline-block;
  background-color: #14AFF7;
  transition: 0.3s;
  width: 0px;
  height: 0px;
  width: 4px !important;
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  margin: 0px;
  display: grid;
  grid-template-columns: 500px 1fr 0px;
  gap: 24px;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: Exo, sans-serif;
  background-color: #F4F4F4;
}
@media (max-width: 720px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

#nav-bar {
  overflow: hidden;
  top: 0px;
  position: sticky;
  background-color: #EFEFEF;
  height: 100vh;
  display: grid;
  grid-template-rows: 72px 40px minmax(96px, auto) 1fr;
  row-gap: 24px;
  padding: 0px;
  justify-content: center;
}
@media (max-width: 720px) {
  #nav-bar {
    grid-template-rows: 40px auto;
    justify-content: initial;
    row-gap: 8px;
    height: auto;
    z-index: 1;
  }
}
#nav-bar header {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
  font-family: Exo, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14AFF7;
}
@media (max-width: 720px) {
  #nav-bar header {
    justify-content: space-between;
    font-size: 21.5px;
    line-height: 24px;
    font-weight: 700;
    font-family: Exo, sans-serif;
    padding: 0px 16px 0px 16px;
    margin: 0px;
  }
}
#nav-bar header #burger {
  display: none;
}
@media (max-width: 720px) {
  #nav-bar header #burger {
    display: initial;
    cursor: pointer;
    margin-right: -5px;
  }
}
#nav-bar header img {
  height: 64px;
}
@media (max-width: 720px) {
  #nav-bar header img {
    position: relative;
    height: 32px;
    padding-right: 4px;
  }
}
#nav-bar header div {
  display: flex;
  flex-direction: row;
  line-height: 64px;
  text-align: center;
  justify-content: center;
  width: 472px;
}
@media (max-width: 720px) {
  #nav-bar header div {
    line-height: 32px;
    width: auto;
  }
}
#nav-bar header span {
  color: #022873;
}
#nav-bar .nav-link:hover {
  color: #14AFF7;
  transition: 0.3s;
  cursor: pointer;
}
#nav-bar #nav-links {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  font-family: Exo, sans-serif;
  display: grid;
  padding: 0px 12px 0px 0px;
  grid-template-columns: 164px 154px 164px;
  color: #022873;
}
@media (max-width: 720px) {
  #nav-bar #nav-links {
    grid-template-columns: 1fr;
    grid-template-rows: 16px 16px 16px;
    row-gap: 8px;
    padding: 0px 0px 0px 16px;
    display: none;
  }
}
#nav-bar #nav-links .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 720px) {
  #nav-bar #nav-links .nav-link {
    justify-content: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: Exo, sans-serif;
    gap: 0px;
    margin-left: -4px;
  }
}
#nav-bar #nav-links .nav-link img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}
@media (max-width: 720px) {
  #nav-bar #nav-links .nav-link img {
    display: none;
  }
}
#nav-bar #nav-links .nav-link #nav-link-small-img {
  height: 40px;
}
#nav-bar #nav-links .nav-link div {
  display: flex;
  flex-direction: row;
}
#nav-bar #nav-links .nav-link div .active-mark {
  color: #14AFF7;
}
#nav-bar #nav-links .active::before {
  width: 4px;
  margin-right: -8px !important;
}
@media (max-width: 720px) {
  #nav-bar #nav-links .active::before {
    margin-right: 4px !important;
    width: 2px !important;
    margin-left: 4px;
  }
}
#nav-bar #nav-links .nav-link::before {
  content: "";
  display: inline-block;
  background-color: #14AFF7;
  transition: 0.3s;
  width: 0px;
  height: 0px;
  margin-right: -5px;
  height: 32px;
}
@media (max-width: 720px) {
  #nav-bar #nav-links .nav-link::before {
    height: 16px;
    margin-right: 4px;
  }
}
#nav-bar #nav-links .nav-link:hover::before {
  width: 4px;
  background-color: #14AFF7;
}
@media (max-width: 720px) {
  #nav-bar #nav-links .nav-link:hover::before {
    width: 2px;
    margin-left: 4px;
  }
}
#nav-bar .path-container {
  background-color: #011140;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 720px) {
  #nav-bar .path-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "path search" "results results";
    justify-content: space-between;
    max-width: 100vw;
  }
}
#nav-bar .path-container #path {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: Exo, sans-serif;
  color: #EFEFEF;
  position: relative;
  top: 8px;
  margin-left: 0px;
}
@media (max-width: 720px) {
  #nav-bar .path-container #path {
    font-size: 15px;
    line-height: 18px;
    font-family: consolas, Exo, sans-serif;
    font-weight: 400;
    grid-area: path;
    position: initial;
    display: flex;
    align-items: center;
    height: auto;
  }
}
#nav-bar .path-container #searchbar-div {
  position: relative;
  grid-area: search;
}
@media (max-width: 720px) {
  #nav-bar .path-container #searchbar-div {
    display: flex;
    justify-content: right;
  }
}
#nav-bar .path-container #searchbar {
  border-radius: 7px 7px 0px 0px;
  height: 32px;
  color: #022873;
  background-color: #EFEFEF;
  position: relative;
  top: 16px;
  width: 100%;
  width: 412px;
  border-style: solid;
  border-color: #022873;
  border-width: 4px;
  padding: 0px 40px 0px 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: consolas, Exo, sans-serif;
  font-size: 15px;
  overflow: scroll;
}
@media (max-width: 720px) {
  #nav-bar .path-container #searchbar {
    width: 100%;
    border-radius: 4px;
    border-width: 2px;
    padding: 0px 8px 0px 8px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media (max-width: 720px) {
  #nav-bar .path-container #searchbar {
    top: 0px;
    height: 87%;
    padding-right: 24px;
    box-shadow: none !important;
  }
}
#nav-bar .path-container #searchbar:focus {
  outline: none;
  box-shadow: -2px -2px 0px #14AFF7, 2px -2px 0px #14AFF7, 2px 2px 0px #14AFF7, -2px 2px 0px #14AFF7;
  font-size: 16px;
}
@media (max-width: 720px) {
  #nav-bar .path-container #searchbar:focus {
    font-size: 15px !important;
    border-color: #14AFF7;
  }
}
#nav-bar .path-container #search-img {
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 20px;
  right: 8px;
  z-index: 2;
  cursor: pointer;
}
@media (max-width: 720px) {
  #nav-bar .path-container #search-img {
    height: 100%;
    width: 24px;
    top: 0px;
    right: 1%;
  }
}
#nav-bar .path-container input:focus ~ #search-img {
  opacity: 0.4;
}
#nav-bar .path-container #searched {
  display: none;
  flex-direction: column;
  color: #14AFF7;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 412px;
  border-style: solid;
  border-color: #022873;
  border-width: 4px;
  padding: 0px 40px 0px 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: consolas, Exo, sans-serif;
  font-size: 15px;
  overflow: scroll;
  border-top: 0px;
  border-style: solid;
  background-color: #EFEFEF;
  border-top-color: #022873;
  box-shadow: -2px -2px 0px #14AFF7, 2px -2px 0px #14AFF7, -2px 2px 0px #14AFF7, 2px 2px 0px #14AFF7;
  grid-area: results;
}
@media (max-width: 720px) {
  #nav-bar .path-container #searched {
    width: 100%;
    border-radius: 4px;
    border-width: 2px;
    padding: 0px 8px 0px 8px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
#nav-bar .path-container #searched a {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: consolas, Exo, sans-serif;
  color: #505253;
}
@media (max-width: 720px) {
  #nav-bar .path-container #searched a {
    color: #14AFF7;
    font-size: 15px;
    line-height: 18px;
    font-family: consolas, Exo, sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 720px) {
  #nav-bar .path-container #searched {
    margin: 0px 0px 0px -16px;
    padding-left: 16px;
    border-width: 0px;
    background-color: #011140;
    border-radius: 0px;
    box-shadow: none !important;
  }
}
#nav-bar .links-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 12px;
  padding: 0px 16px 0px 16px;
}
@media (max-width: 720px) {
  #nav-bar .links-container {
    display: none;
  }
}
#nav-bar .links-container a {
  text-decoration: none;
  color: #022873;
  display: flex;
  align-items: center;
}
#nav-bar .links-container .nav-link-container {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: Exo, sans-serif;
  row-gap: 16px;
}
#nav-bar .links-container .nav-link-container .nav-link::before {
  content: "";
  display: inline-block;
  background-color: #14AFF7;
  transition: 0.3s;
  width: 0px;
  height: 0px;
  height: 100%;
  position: relative;
  left: -3px;
}
#nav-bar .links-container .nav-link-container .nav-link:hover::before {
  width: 3px;
}
#nav-bar .links-container .nav-link-container .nav-link {
  height: auto;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#main-doc {
  overflow: hidden;
  margin-top: 16px;
  display: grid;
  grid-template-rows: auto;
  gap: 24px;
}
@media (max-width: 720px) {
  #main-doc {
    gap: 0px;
  }
}
#main-doc .main-section {
  color: #252829;
  letter-spacing: 1px;
  margin-right: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: Exo, sans-serif;
}
@media (max-width: 720px) {
  #main-doc .main-section {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: Exo, sans-serif;
    margin-left: 16px;
    margin-right: 16px;
  }
}
#main-doc .main-section header {
  font-size: 57px;
  line-height: 72px;
  font-weight: 300;
  font-family: Exo, sans-serif;
  text-transform: uppercase;
  color: #022873;
}
@media (max-width: 720px) {
  #main-doc .main-section header {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    font-family: Exo, sans-serif;
    padding-top: 88px;
  }
}
#main-doc .main-section #hero-topic {
  padding-top: 0px;
}
#main-doc .main-section code {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: consolas, Exo, sans-serif;
  display: inline-block;
  background-color: #EFEFEF;
  padding: 16px 24px 16px 24px;
  overflow: scroll;
}
@media (max-width: 720px) {
  #main-doc .main-section code {
    padding: 8px 8px 8px 8px;
    font-size: 15px;
    line-height: 18px;
    font-family: consolas, Exo, sans-serif;
    font-weight: 400;
  }
}
#main-doc .main-section code .tag {
  position: relative;
  left: 24px;
  word-wrap: normal;
  padding-right: 24px;
}
@media (max-width: 720px) {
  #main-doc .main-section code .tag {
    left: 8px;
    padding-right: 8px;
  }
}
#main-doc .main-section code .var {
  color: #022873;
}
#main-doc .main-section code .var-dec {
  color: #14AFF7;
  font-weight: 600;
}
#main-doc .main-section code .method {
  color: deeppink;
}
#main-doc .main-section code .string {
  color: rgb(207, 127, 22);
}
#main-doc .main-section code .comment {
  color: green;
}
#main-doc .main-section code .forif {
  color: darkmagenta;
  font-weight: 600;
}
#main-doc .main-section .main-section-ul {
  padding-left: 24px;
}
@media (max-width: 720px) {
  #main-doc .main-section .main-section-ul {
    padding-left: 16px;
  }
}
#main-doc .main-section .main-section-ul p {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  font-family: Exo, sans-serif;
  color: #022873;
  margin: 16px 0px 16px -16px;
}
@media (max-width: 720px) {
  #main-doc .main-section .main-section-ul p {
    margin: 8px 0px 8px -16px;
    font-size: 21.5px;
    line-height: 24px;
    font-weight: 700;
    font-family: Exo, sans-serif;
  }
}
#main-doc .main-section .main-section-ul .pros {
  color: #14AFF7;
}
#main-doc .main-section .main-section-ul .cons {
  color: #011140;
  list-style-type: square;
}/*# sourceMappingURL=style.css.map */